
CREATE DATABASE [ContaAgil]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ContaAgil', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ContaAgil.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ContaAgil_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ContaAgil_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ContaAgil].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ContaAgil]
GO
/****** Object:  Table [dbo].[Cargos]    Script Date: 19/11/2024 18:46:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargos](
	[IDCargo] [int] IDENTITY(1,1) NOT NULL,
	[Cargo] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 19/11/2024 18:46:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IDCliente] [int] IDENTITY(1,1) NOT NULL,
	[nombresCliente] [varchar](30) NOT NULL,
	[apellidosCliente] [varchar](30) NOT NULL,
	[dui] [nchar](11) NOT NULL,
	[telefono] [nchar](11) NULL,
	[eMail] [varchar](40) NULL,
	[idDireccion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuenta]    Script Date: 19/11/2024 18:46:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuenta](
	[idCuenta] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [int] NULL,
	[nivel] [int] NULL,
	[nombreCuenta] [text] NULL,
	[tipoSaldo] [text] NULL,
 CONSTRAINT [cuenta_PK] PRIMARY KEY CLUSTERED 
(
	[idCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 99, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuenta_partida]    Script Date: 19/11/2024 18:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuenta_partida](
	[id_cuenta_partida] [int] IDENTITY(1,1) NOT NULL,
	[idCuenta] [int] NULL,
	[idPartida] [int] NULL,
	[debe] [real] NULL,
	[haber] [real] NULL,
 CONSTRAINT [cuenta_partida_PK] PRIMARY KEY CLUSTERED 
(
	[id_cuenta_partida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 99, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 19/11/2024 18:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentos](
	[idDepartamento] [int] IDENTITY(1,1) NOT NULL,
	[nombreDepartamento] [varchar](60) NOT NULL,
	[Pais] [varchar](60) NOT NULL,
 CONSTRAINT [PK__Departam__C225F98D1E93076F] PRIMARY KEY CLUSTERED 
(
	[idDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Direcciones]    Script Date: 19/11/2024 18:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direcciones](
	[idDireccion] [int] IDENTITY(1,1) NOT NULL,
	[Linea1] [varchar](100) NOT NULL,
	[Linea2] [varchar](100) NULL,
	[idDistrito] [varchar](5) NOT NULL,
	[CodigoPostal] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idDireccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Distritos]    Script Date: 19/11/2024 18:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distritos](
	[idDistrito] [int] IDENTITY(1,1) NOT NULL,
	[nombreDistrito] [varchar](60) NOT NULL,
	[idMunicipio] [char](3) NOT NULL,
 CONSTRAINT [PK__Distrito__494092A80CEEF9CD] PRIMARY KEY CLUSTERED 
(
	[idDistrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleado]    Script Date: 19/11/2024 18:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleado](
	[idEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[nombresEmpleado] [nvarchar](100) NOT NULL,
	[apellidosEmpleado] [nvarchar](100) NOT NULL,
	[fechaNacimiento] [date] NOT NULL,
	[duiEmpleado] [nvarchar](50) NOT NULL,
	[isssEmpleado] [nvarchar](50) NOT NULL,
	[telefono] [nvarchar](50) NOT NULL,
	[correo] [nvarchar](100) NOT NULL,
	[linea1] [nvarchar](200) NOT NULL,
	[linea2] [nvarchar](200) NULL,
	[codigoPostal] [nvarchar](50) NOT NULL,
	[idDepartamento] [int] NOT NULL,
	[idDistrito] [int] NOT NULL,
	[idMunicipio] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estado]    Script Date: 19/11/2024 18:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado](
	[idEstado] [int] IDENTITY(1,1) NOT NULL,
	[descripcionEstado] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[librodiario]    Script Date: 19/11/2024 18:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[librodiario](
	[n_libro] [int] IDENTITY(1,1) NOT NULL,
	[periodo] [text] NULL,
 CONSTRAINT [librodiario_PK] PRIMARY KEY CLUSTERED 
(
	[n_libro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 99, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Municipios]    Script Date: 19/11/2024 18:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Municipios](
	[idMunicipio] [int] IDENTITY(1,1) NOT NULL,
	[nombreMunicipio] [varchar](60) NOT NULL,
	[idDepartamento] [char](2) NOT NULL,
 CONSTRAINT [PK__Municipi__FD10E4006438803D] PRIMARY KEY CLUSTERED 
(
	[idMunicipio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[partida]    Script Date: 19/11/2024 18:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partida](
	[idPartida] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [text] NULL,
	[concepto] [text] NULL,
	[n_partida] [int] NULL,
	[n_libro] [int] NULL,
 CONSTRAINT [partida_PK] PRIMARY KEY CLUSTERED 
(
	[idPartida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 99, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF, DATA_COMPRESSION = PAGE) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 19/11/2024 18:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IDRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sqlite_sequence]    Script Date: 19/11/2024 18:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sqlite_sequence](
	[name] [text] NULL,
	[seq] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 19/11/2024 18:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nombreUsuario] [nvarchar](100) NOT NULL,
	[claveUsuario] [nvarchar](100) NOT NULL,
	[idEmpleado] [int] NOT NULL,
	[idRol] [int] NOT NULL,
	[idEstado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cuenta] ON 

INSERT [dbo].[cuenta] ([idCuenta], [codigo], [nivel], [nombreCuenta], [tipoSaldo]) VALUES (1, 1, 1, N'ACTIVO', N'Deudor')
INSERT [dbo].[cuenta] ([idCuenta], [codigo], [nivel], [nombreCuenta], [tipoSaldo]) VALUES (2, 11, 2, N'ACTIVO CORRIENTE', N'Deudor')
INSERT [dbo].[cuenta] ([idCuenta], [codigo], [nivel], [nombreCuenta], [tipoSaldo]) VALUES (3, 1101, 3, N'EFECTIVO Y EQUIVALENTES DE EFECTIVO', N'Deudor')
GO
SET IDENTITY_INSERT [dbo].[cuenta] OFF
GO
SET IDENTITY_INSERT [dbo].[cuenta_partida] ON 

INSERT [dbo].[cuenta_partida] ([id_cuenta_partida], [idCuenta], [idPartida], [debe], [haber]) VALUES (442, 7, 40, 600000, 0)
INSERT [dbo].[cuenta_partida] ([id_cuenta_partida], [idCuenta], [idPartida], [debe], [haber]) VALUES (443, 60, 40, 200000, 0)
INSERT [dbo].[cuenta_partida] ([id_cuenta_partida], [idCuenta], [idPartida], [debe], [haber]) VALUES (444, 188, 40, 0, 800000)
GO
SET IDENTITY_INSERT [dbo].[cuenta_partida] OFF
GO
SET IDENTITY_INSERT [dbo].[Departamentos] ON 

INSERT [dbo].[Departamentos] ([idDepartamento], [nombreDepartamento], [Pais]) VALUES (1, N'Ahuachapán', N'El Salvador')
INSERT [dbo].[Departamentos] ([idDepartamento], [nombreDepartamento], [Pais]) VALUES (2, N'Cabañas', N'El Salvador')
INSERT [dbo].[Departamentos] ([idDepartamento], [nombreDepartamento], [Pais]) VALUES (3, N'Chalatenango', N'El Salvador')
SET IDENTITY_INSERT [dbo].[Departamentos] OFF
GO
SET IDENTITY_INSERT [dbo].[Distritos] ON 

INSERT [dbo].[Distritos] ([idDistrito], [nombreDistrito], [idMunicipio]) VALUES (1, N'Atiquizaya', N'1  ')
INSERT [dbo].[Distritos] ([idDistrito], [nombreDistrito], [idMunicipio]) VALUES (2, N'El Refugio', N'1  ')
INSERT [dbo].[Distritos] ([idDistrito], [nombreDistrito], [idMunicipio]) VALUES (3, N'San Lorenzo', N'1  ')
GO
SET IDENTITY_INSERT [dbo].[Distritos] OFF
GO
SET IDENTITY_INSERT [dbo].[empleado] ON 

INSERT [dbo].[empleado] ([idEmpleado], [nombresEmpleado], [apellidosEmpleado], [fechaNacimiento], [duiEmpleado], [isssEmpleado], [telefono], [correo], [linea1], [linea2], [codigoPostal], [idDepartamento], [idDistrito], [idMunicipio]) VALUES (1, N'Kevin Javier', N'Flores Mendoza', CAST(N'2024-11-11' AS Date), N'22344555-5', N'34235445', N'3434-4343', N'kevin@gmial.com', N'Canton Las Higueras', N'Lotificacion la comunal', N'2233', 13, 222, 40)
SET IDENTITY_INSERT [dbo].[empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[estado] ON 

INSERT [dbo].[estado] ([idEstado], [descripcionEstado]) VALUES (1, N'Activo')
INSERT [dbo].[estado] ([idEstado], [descripcionEstado]) VALUES (2, N'Inactivo')
SET IDENTITY_INSERT [dbo].[estado] OFF
GO
SET IDENTITY_INSERT [dbo].[librodiario] ON 

INSERT [dbo].[librodiario] ([n_libro], [periodo]) VALUES (1, N'Del 1 de Octube del 2019 Al 31 de Octubre de 2019')
INSERT [dbo].[librodiario] ([n_libro], [periodo]) VALUES (2, N'Del 1 de Noviembre del 2019 Al 30 de Noviembre de 2019')
INSERT [dbo].[librodiario] ([n_libro], [periodo]) VALUES (3, N'Del 1 de Abril del 2020 Al 30 de  Abril del 2020')
SET IDENTITY_INSERT [dbo].[librodiario] OFF
GO
SET IDENTITY_INSERT [dbo].[Municipios] ON 

INSERT [dbo].[Municipios] ([idMunicipio], [nombreMunicipio], [idDepartamento]) VALUES (1, N'Ahuachapán Norte', N'1 ')
INSERT [dbo].[Municipios] ([idMunicipio], [nombreMunicipio], [idDepartamento]) VALUES (2, N'Ahuachapán Centro', N'1 ')
INSERT [dbo].[Municipios] ([idMunicipio], [nombreMunicipio], [idDepartamento]) VALUES (3, N'Ahuachapán Sur', N'1 ')
SET IDENTITY_INSERT [dbo].[Municipios] OFF
GO
SET IDENTITY_INSERT [dbo].[partida] ON 

INSERT [dbo].[partida] ([idPartida], [fecha], [concepto], [n_partida], [n_libro]) VALUES (40, N'01/11/2019', N'por constitucion', 1, 1)
INSERT [dbo].[partida] ([idPartida], [fecha], [concepto], [n_partida], [n_libro]) VALUES (41, N'02/11/2019', N'por compra de mobiliario al credito', 2, 1)
INSERT [dbo].[partida] ([idPartida], [fecha], [concepto], [n_partida], [n_libro]) VALUES (42, N'15/4/2020', N'Por adquisicion de local en efectivo', 3, 1)
SET IDENTITY_INSERT [dbo].[partida] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IDRol], [NombreRol]) VALUES (1, N'Gerente')
INSERT [dbo].[Roles] ([IDRol], [NombreRol]) VALUES (2, N'Administrador')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[sqlite_sequence] ([name], [seq]) VALUES (N'cuenta', N'310')
INSERT [dbo].[sqlite_sequence] ([name], [seq]) VALUES (N'librodiario', N'5')
INSERT [dbo].[sqlite_sequence] ([name], [seq]) VALUES (N'partida', N'97')
GO
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([idUsuario], [nombreUsuario], [claveUsuario], [idEmpleado], [idRol], [idEstado]) VALUES (1, N'kevin10', N'root', 1, 2, 1)
SET IDENTITY_INSERT [dbo].[usuario] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__empleado__1A9A013B708D396C]    Script Date: 19/11/2024 18:46:27 ******/
ALTER TABLE [dbo].[empleado] ADD UNIQUE NONCLUSTERED 
(
	[duiEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__empleado__2A586E0BA237731D]    Script Date: 19/11/2024 18:46:27 ******/
ALTER TABLE [dbo].[empleado] ADD UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__empleado__93F78F04356A68CA]    Script Date: 19/11/2024 18:46:27 ******/
ALTER TABLE [dbo].[empleado] ADD UNIQUE NONCLUSTERED 
(
	[isssEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD FOREIGN KEY([idDepartamento])
REFERENCES [dbo].[Departamentos] ([idDepartamento])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD FOREIGN KEY([idDistrito])
REFERENCES [dbo].[Distritos] ([idDistrito])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD FOREIGN KEY([idMunicipio])
REFERENCES [dbo].[Municipios] ([idMunicipio])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD FOREIGN KEY([idEmpleado])
REFERENCES [dbo].[empleado] ([idEmpleado])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD FOREIGN KEY([idEstado])
REFERENCES [dbo].[estado] ([idEstado])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD FOREIGN KEY([idRol])
REFERENCES [dbo].[Roles] ([IDRol])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
/****** Object:  StoredProcedure [dbo].[AgregarEmpleado]    Script Date: 19/11/2024 18:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[AgregarEmpleado]
-- Variables
    @DUI_Empleado varchar(10),
	@ISSS_Empleado int,
	@NombresEmpleado varchar(60),
	@ApellidosEmpleado varchar(60),
    @DFechaNacEmpleado date,
    @Telefono varchar(10),
    @Correo varchar(100),
    @ID_Cargo int,
    @ID_Direccion int
as
begin
   insert into Empleados values
   (@DUI_Empleado ,
	@ISSS_Empleado ,
	@NombresEmpleado ,
	@ApellidosEmpleado ,
    @DFechaNacEmpleado,
    @Telefono,
    @Correo ,
    @ID_Cargo ,
    @ID_Direccion);

	select * from Empleados;
end
GO
/****** Object:  StoredProcedure [dbo].[MostrarPlanilla]    Script Date: 19/11/2024 18:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[MostrarPlanilla]
as
begin
  select
	 EMP.DUI_Empleado,
	 EMP-ISSS_Epleado,
	 EMP.NombresEmpelado,
	 EMP.ApellidoEmpleado,
	 CAR.Cargo
  from Empelados EMP, Cargos Car
  Where CAR.ID_Cargo = EMP.ID_Cargo
  order by EMP.ID_Cargo
end
GO
/****** Object:  StoredProcedure [dbo].[ObtenerEmpleados]    Script Date: 19/11/2024 18:46:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerEmpleados]
as
begin
     -- Query
	 select * from Empleados
end
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cuenta', @level2type=N'COLUMN',@level2name=N'idCuenta'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cuenta', @level2type=N'COLUMN',@level2name=N'codigo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cuenta', @level2type=N'COLUMN',@level2name=N'nivel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cuenta', @level2type=N'COLUMN',@level2name=N'nombreCuenta'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cuenta', @level2type=N'COLUMN',@level2name=N'tipoSaldo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cuenta'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cuenta_partida', @level2type=N'COLUMN',@level2name=N'id_cuenta_partida'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cuenta_partida', @level2type=N'COLUMN',@level2name=N'idCuenta'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cuenta_partida', @level2type=N'COLUMN',@level2name=N'idPartida'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cuenta_partida', @level2type=N'COLUMN',@level2name=N'debe'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cuenta_partida', @level2type=N'COLUMN',@level2name=N'haber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cuenta_partida'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'librodiario', @level2type=N'COLUMN',@level2name=N'n_libro'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'librodiario', @level2type=N'COLUMN',@level2name=N'periodo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'librodiario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'partida', @level2type=N'COLUMN',@level2name=N'idPartida'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'partida', @level2type=N'COLUMN',@level2name=N'fecha'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'partida', @level2type=N'COLUMN',@level2name=N'concepto'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'partida', @level2type=N'COLUMN',@level2name=N'n_partida'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'partida', @level2type=N'COLUMN',@level2name=N'n_libro'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'partida'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sqlite_sequence', @level2type=N'COLUMN',@level2name=N'name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sqlite_sequence', @level2type=N'COLUMN',@level2name=N'seq'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TRIAL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'sqlite_sequence'
GO
