
CREATE DATABASE ContaAgil;
GO

USE ContaAgil;
GO

BEGIN TRANSACTION;

-- Tabla cuenta
CREATE TABLE cuenta (
    idCuenta INT PRIMARY KEY IDENTITY(1,1),
    codigo INT,
    nivel INT,
    nombreCuenta NVARCHAR(100),
    tipoSaldo NVARCHAR(100)
);

-- Tabla librodiario
CREATE TABLE librodiario (
    n_libro INT PRIMARY KEY IDENTITY(1,1),
    periodo NVARCHAR(200)
);

-- Tabla partida
CREATE TABLE partida (
    idPartida INT PRIMARY KEY IDENTITY(1,1),
    fecha NVARCHAR(100),
    concepto NVARCHAR(MAX),
    n_partida INT,
    n_libro INT,
    FOREIGN KEY (n_libro) REFERENCES librodiario(n_libro) ON DELETE CASCADE
);

-- Tabla cuenta_partida
CREATE TABLE cuenta_partida (
    id_cuenta_partida INT PRIMARY KEY IDENTITY(1,1),
    idCuenta INT,
    idPartida INT,
    debe FLOAT,
    haber FLOAT,
    FOREIGN KEY (idCuenta) REFERENCES cuenta(idCuenta) ON DELETE CASCADE,
    FOREIGN KEY (idPartida) REFERENCES partida(idPartida) ON DELETE CASCADE
);

-- Tabla departamento
CREATE TABLE departamento (
    idDepartamento INT PRIMARY KEY IDENTITY(1,1),
    nombreDepartamento NVARCHAR(100)
);

-- Tabla municipio
CREATE TABLE municipio (
    idMunicipio INT PRIMARY KEY IDENTITY(1,1),
    nombreMunicipio NVARCHAR(100),
    idDepartamento INT,
    FOREIGN KEY (idDepartamento) REFERENCES departamento(idDepartamento) ON DELETE CASCADE
);

-- Tabla distrito
CREATE TABLE distrito (
    idDistrito INT PRIMARY KEY IDENTITY(1,1),
    nombreDistrito NVARCHAR(100),
    idMunicipio INT,
    FOREIGN KEY (idMunicipio) REFERENCES municipio(idMunicipio) ON DELETE CASCADE
);

-- Tabla direccion
CREATE TABLE direccion (
    idDireccion INT PRIMARY KEY IDENTITY(1,1),
    linea1 NVARCHAR(200),
    linea2 NVARCHAR(200),
    codigoPostal NVARCHAR(50),
    idDistrito INT,
    FOREIGN KEY (idDistrito) REFERENCES distrito(idDistrito) ON DELETE CASCADE
);

-- Tabla empleado
CREATE TABLE empleado (
    idEmpleado INT PRIMARY KEY IDENTITY(1,1),
    nombresEmpleado NVARCHAR(100),
    apellidosEmpleado NVARCHAR(100),
    fechaNacimiento DATE,
    duiEmpleado NVARCHAR(50),
    isssEmpleado NVARCHAR(50),
    telefono NVARCHAR(50),
    correo NVARCHAR(100),
    idDireccion INT,
    FOREIGN KEY (idDireccion) REFERENCES direccion(idDireccion) ON DELETE CASCADE
);

-- Tabla estado
CREATE TABLE estado (
    idEstado INT PRIMARY KEY IDENTITY(1,1),
    descripcionEstado NVARCHAR(100)
);

-- Tabla rol
CREATE TABLE rol (
    idRol INT PRIMARY KEY IDENTITY(1,1),
    nombreRol NVARCHAR(100)
);

-- Tabla usuario
CREATE TABLE usuario (
    idUsuario INT PRIMARY KEY IDENTITY(1,1),
    nombreUsuario NVARCHAR(100),
    claveUsuario NVARCHAR(100),
    idEmpleado INT,
    idRol INT,
    idEstado INT,
    FOREIGN KEY (idEmpleado) REFERENCES empleado(idEmpleado) ON DELETE CASCADE,
    FOREIGN KEY (idRol) REFERENCES rol(idRol) ON DELETE CASCADE,
    FOREIGN KEY (idEstado) REFERENCES estado(idEstado) ON DELETE CASCADE
);


SET IDENTITY_INSERT librodiario ON;
INSERT INTO "librodiario" ("n_libro","periodo") VALUES (1,'Del 1 de Octube del 2019 Al 31 de Octubre de 2019'),
 (2,'Del 1 de Noviembre del 2019 Al 30 de Noviembre de 2019'),
 (3,'Del 1 de Abril del 2020 Al 30 de  Abril del 2020'),
 (4,'Del 1 de Mayo del 2020 Al 31 de  Mayo del 2020'),
 (5,'Del 1 de Noviembre del 2020 Al 30 de  Noviembre del 2020');
 SET IDENTITY_INSERT librodiario OFF;

SET IDENTITY_INSERT partida ON;
 SET IDENTITY_INSERT partida OFF;

SET IDENTITY_INSERT cuenta_partida ON;
-- Insertar datos en cuenta_partida
SET IDENTITY_INSERT cuenta_partida OFF;

SET IDENTITY_INSERT departamento ON;
INSERT INTO departamento (idDepartamento,nombreDepartamento) VALUES (1,'San Salvador'),
 (2,'La Libertad'),
 (3,'Santa Ana'),
 (4,'San Miguel'),
 (5,'Sonsonate');
SET IDENTITY_INSERT departamento OFF;

SET IDENTITY_INSERT municipio ON;
INSERT INTO municipio (idMunicipio, nombreMunicipio, idDepartamento) VALUES 
(1, 'San Salvador', 1),
(2, 'Antiguo Cuscatlán', 2),
(3, 'Santa Ana', 3),
(4, 'San Miguel', 4),
(5, 'Sonsonate', 5);
SET IDENTITY_INSERT municipio OFF;

SET IDENTITY_INSERT distrito ON;
INSERT INTO distrito (idDistrito, nombreDistrito, idMunicipio) VALUES 
(1, 'Distrito Centro', 1),
(2, 'Distrito Merliot', 2),
(3, 'Distrito Central', 3),
(4, 'Distrito Las Brisas', 4),
(5, 'Distrito 1', 5);
SET IDENTITY_INSERT distrito OFF;

SET IDENTITY_INSERT direccion ON;
INSERT INTO direccion (idDireccion, linea1, linea2, codigoPostal, idDistrito) VALUES 
(1, 'Av. Cuscatlán', 'Col. Escalón', '1101', 1),
(2, 'Calle Chiltiupán', 'Col. Merliot', '1501', 2),
(3, 'Av. Independencia', 'Centro', '2201', 3),
(4, 'Col. Jardines', 'Cantón El Progreso', '3301', 4),
(5, 'Av. Principal', 'Col. Santa Marta', '4401', 5);
 SET IDENTITY_INSERT direccion OFF;

SET IDENTITY_INSERT empleado ON;
SET IDENTITY_INSERT empleado OFF;

SET IDENTITY_INSERT estado ON;
INSERT INTO "estado" ("idEstado","descripcionEstado") VALUES (1,'Activo'),
 (2,'Inactivo'),
 (3,'En revisión'),
 (4,'Suspendido'),
 (5,'Eliminado');
SET IDENTITY_INSERT estado OFF;

SET IDENTITY_INSERT rol ON;
INSERT INTO "rol" ("idRol","nombreRol") VALUES (1,'Administrador'),
 (2,'Usuario'),
 (3,'Gerente'),
 (4,'Supervisor'),
 (5,'Contador');
SET IDENTITY_INSERT rol OFF;

SET IDENTITY_INSERT usuario ON;
INSERT INTO "usuario" ("idUsuario","nombreUsuario","claveUsuario","idEmpleado","idRol","idEstado") VALUES (1,'jlopez','clave123',1,1,1),
 (2,'mmartinez','clave456',2,2,1),
 (3,'jperez','clave789',3,3,2),
 (4,'agarcia','clave101',4,4,1),
 (5,'lramirez','clave202',5,5,3),
 (6,'root','admin123',5,5,3);
SET IDENTITY_INSERT usuario OFF;
COMMIT;